.container {
    display: flex;
    margin: 0 auto;
    width: 70%;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: red;
}

.display {
    display: flex;
    height: 3.5rem;
    width: 10rem;
    border-radius: 3rem;
    background-color: darkslategray;
    color: white;
}

.numbers-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    background-color: rgb(151, 148, 148);
    color: white;
}
